.section {
}

.section > * {
  box-sizing: border-box;
  border-radius: var(--border-radius);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/bg/dark.png");
  background-size: cover;
  padding: var(--spacing-large);
}
.title {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-size: var(--h1-size);
  color: var(--color-light);
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: auto;
}

.subtitle {
  font-size: var(--h5-size);
  color: var(--color-yellow);
  text-align: center;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.45rem;
}

.profil_img {
  background-color: var(--color-yellow);
  object-fit: fill;
}
.description {
  background-color: var(--color-light);
  text-align: justify;
  padding: var(--padding-medium);
}

.social_links {
  background-color: var(--color-blue);
  padding: var(--padding-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_links a {
  color: var(--color-green-light) !important;
  margin: 0 var(--gap-medium);
}
.stack {
  background-color: var(--color-red);
  padding: var(--padding-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  background-color: var(--color-red);
  padding: var(--padding-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}
.action {
  background-color: var(--color-blue);
  padding: var(--padding-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  background-color: var(--color-yellow);
  padding: var(--padding-medium);
}
