.container {
  position: relative;
  max-width: 900px;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
  background-color: white;
}
.items {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  align-items: center;

  gap: var(--spacing-l);
}
.carousel_items > * {
  flex-grow: 0;
  flex-shrink: 0;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.left {
  width: 50px;
  aspect-ratio: 1/1;
  background-color: var(--color-dark);
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: var(--spacing-m);
  transform: translateY(-50%);
  z-index: 1;
}

.right {
  width: 50px;
  aspect-ratio: 1/1;
  background-color: var(--color-dark);
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: var(--spacing-m);
  transform: translateY(-50%);
  z-index: 1;
}
.dots_container {
  position: absolute;
  bottom: var(--spacing-m);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: var(--spacing-s);
}
.dot {
  width: 5px;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
}
.dot_active {
  background-color: var(--color-secondary);
}
